nav {
   text-align: center;
   padding-top: 8px;
   padding-bottom: 2px;
}

.logo{
    font-size: 45px;
    letter-spacing: 5px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    
}

header {
    background-color: gray;
    
}

.logoTwo {
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: 'VT323', monospace;
    font-weight: 900;
    letter-spacing: 1px;
 }

h3 {
    font-size: 35px;
    font-family: 'Figtree', sans-serif;
}

h4{
    font-size: 30px;
    font-family: 'Figtree', sans-serif;
}

.image{
    width: 300px;
    margin-left: auto;
    margin-top: 35px;
    border-radius: 50px;
}

body{
    background-color: lightgray;
    text-align: center;
    font-family: 'Figtree', sans-serif;
}

.aboutMe {
    margin-left: 28%;
    margin-right: 28%;
}
  
hr{
    border-top: 3px solid;
    margin-top: 60px;
}

footer{
    background-color: gray;
    padding-bottom: 25px;
    padding-top: 25px;
}
  

 
