/* This colors the nav bar gray and gives it spacing to make it thicker */
nav {
   text-align: center;
   padding-top: 8px;
   padding-bottom: 2px;
}
/* This changes the title of the page which is "Franciscode" */
.logo{
    font-size: 45px;
    letter-spacing: 5px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    
}

header {
    background-color: gray;
    
}
/* This splits the title name in two seperate things so i can edit one side without effecting the other */
.logoTwo {
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: 'VT323', monospace;
    font-weight: 900;
    letter-spacing: 1px;
 }

h3 {
    font-size: 35px;
    font-family: 'Figtree', sans-serif;
}

h4{
    font-size: 30px;
    font-family: 'Figtree', sans-serif;
}
/* This changes the sizing of the image */
.image{
    width: 300px;
    margin-left: auto;
    margin-top: 35px;
    border-radius: 50px;
}

body{
    background-color: lightgray;
    text-align: center;
    font-family: 'Figtree', sans-serif;
}

.aboutMe {
    margin-left: 28%;
    margin-right: 28%;
}
/* This makes the line breaks thicker */  
hr{
    border-top: 3px solid;
    margin-top: 60px;
}
/* This colors the bottom of the page to match with the top */
footer{
    background-color: gray;
    padding-bottom: 25px;
    padding-top: 25px;
}
  

 
